.sessions-chart {
  margin-top: 1rem;
}

.chart-container {
  position: relative;
  height: 200px;
  width: 100%;
}

.chart-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid-line {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  opacity: 0.3;
}

.chart-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chart-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.area-path {
  fill-opacity: 0.3;
}

.line-path {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}